# Created by .ignore support plugin (hsz.mobi)
### Linux template
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
### Vim template
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

bundle/*
*.pyc
*.bak
*.bk
configs
myconfig.sh
